body {
    width: 1080px;
    margin: auto;
}

header {
    width: 90%;
    color: red;
    font-size: 25px;
    font-style: bold;
    background-color: dodgerblue;
    padding: 10px;
}

td {
    height: 150px;
    margin: auto;
}
