nav {
    
    background-color: blue;
        color: aliceblue;
    width: 1000px;

}
a {
    
    color: aliceblue;
}
#left-box {
    
    width:500px;
}
section {

    width: 1000px;
}
td div{
    
    width: 500px;
}
* {
    
    font-family: sans-serif;
}
 #support {
    
    background-color: beige;
     width: 1000px;
}