body {
    width: 1600px;
    font-family: open-sans;
}
header {
    height:20px;
    padding: 15px;
}
header nav {
    float: right;
}
header h1 {
    float: left;
    text-transform: uppercase;
}
header nav a {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
header nav a:hover {
    text-decoration: underline;
}
#uva {
    color: white;
    background: linear-gradient(to bottom, rgba(20,20,20,0.9) 0%,rgba(0,0,0,0.8) 100%), url(../img/wine-bg.jpg);
    background-repeat: no-repeat;
    height:500px;
    text-align: center;
    padding-top: 250px;
}
#uva h3 {
    margin-bottom: 50px;
    font-size: 80px;
}